<div class="contenedor">
    <div class="titulo">
        {{tweets?.length}} TWEETS
    </div>
    <div *ngFor="let tweet of tweets" class="tarjeta">
        <div class="datos">
            <i src="../../assets/4021663.png" (click)="delete(tweet.id)" class="fa-solid fa-trash"></i>
            <div class="twnombre">
                {{tweet.usuario}}
            </div>
            <div class="mensaje">
                {{tweet.publicacion}}
            </div>
            <div class="mencion">
                {{tweet.mencion}}
            </div>
            <div class="hashtag">
                {{tweet.hashtag}}
            </div>
        </div>
    </div>
</div>