<div class="contenedor">
    <div class="titulo">
        TWEETS
    </div>
    <div class="tarjeta">
        <div class="datos">
            <div class="twnombre">
                Bernardo Garcia
            </div>
            <div class="mensaje">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eligendi provident cupiditate! Porro corrupti vero eveniet et ab, earum quia beatae cumque quidem accusantium, temporibus minus. Autem doloremque quidem temporibus?
            </div>
            <div class="mencion">
                @Santi
            </div>
            <div class="hashtag">
                #BigData
            </div>
        </div>
    </div>
    <div class="tarjeta">
        <div class="datos">
            <div class="twnombre">
                Bernardo Garcia
            </div>
            <div class="mensaje">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eligendi provident cupiditate! Porro corrupti vero eveniet et ab, earum quia beatae cumque quidem accusantium, temporibus minus. Autem doloremque quidem temporibus?
            </div>
            <div class="mencion">
                @Santi
            </div>
            <div class="hashtag">
                #BigData
            </div>
        </div>
    </div>
</div>